<!DOCTYPE html>
<html>
  <head>
    <title>PingGo</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  </head>

  <body>

    <%- body %>

    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <%if (sails.config.environment  == "development") { %>
      <script src="http://localhost:8080/js/bundle.js"></script>
    <% } else {%>
      <script src="/js/bundle.js"></script>
    <% } %>

  </body>
</html>
